<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Profiles</title>
</head>
<body>
  <div class="pl-10 w-full min-h-screen bg-zinc-900 p-6">
    <a href="/" class="text-sm text-blue-400 " >🡨 Profile Creation</a>
    <h1 class="mt-4 text-5xl text-white font-montserrat tracking-tighter ml-2 mb-5">All Users</h1>
    <div class="flex gap-2">
      <% if(users.length>0){ %>
        <% users.forEach(function(val){ %>
            <div class="w-72 bg-zinc-800 rounded-xl p-4">
                <div class="w-full h-60 rounded-lg overflow-hidden">
                    <img src="<%= val.imageURL %>" alt="Profile" class="w-full h-full object-cover">
                </div>
                <div class="mt-3">
                    <h3 class="font-montserrat text-xl text-white font-semibold"><%= val.name %></h3>
                    <h4 class="font-montserrat text-sm text-gray-300"><%= val.email %></h4>
                </div>
                <div class="flex gap-3 mt-4">
                    <a href="/edit" class="text-sm text-blue-400 ">Edit</a>
                    <a href="/delete/<%= val._id %>" class="text-sm text-red-400 ">Delete</a>
                </div>
            </div>
        <% }) %>
      <% } %>
    </div>
  </div>
</body>
</html>
